<template>
  <div class="watson-high-risk height-100" v-cloak>
    <div class="results-padding">
      <img src="../assets/RESULTS/High.png" class="results-fill"/> </img>
    </div>
  </div>
</template>
<script>
  export default{
    created() {
      var high = new Image();
      high.src = "../diabetes-survey/dist/High.png";
      console.log(high.src);
    },
    mounted() {
      this.$emit('startLoad');
      this.$emit('stopLoad');
    }
  }
</script>
