<template>
  <div class="title-container" v-cloak>
    <div class="header-container">
      <div class="header-image"></div>
      <div class="start-container">
        <div class="start-button" @click="startSurvey"></div>
      </div>
    </div>
  </div>
</template>
<style>
  .title-container {
    height: 100%;
    background-color: #3ca2b1;
    display: flex;
  }
  .header-container {
    width: 100%;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;

  }
  .header-image {
    background-image: url('../assets/images/TITLE.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 75%;
    width: 100%;
  }
  .start-container {
    padding-left: 60%;
    padding-right: 20%;
    padding-top: 2%;
    height: 25%;
    width: 100%;
  }
  .start-button {
    background-image: url('../assets/Button.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 70%;
    cursor: pointer;
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .header-container {
      padding-top: 40%;
      padding-left: 1%;
      padding-right: 1%;
    }

    .header-image { height: 45% }
    .start-container {
      padding-left: 45%;
      padding-right: 8%;
      padding-top: 0;
     }
  }
</style>
<script>
  export default{
    methods: {
      startSurvey() {
        this.$emit('confirmed');
      }
    },
  }
</script>
