<template>
  <div class="watson-low-risk height-100" v-cloak>
    <div class="results-padding">
      <img src="../assets/RESULTS/Low.png" class="results-fill"/>
      </img>
    </div>
  </div>
</template>
<script>
  export default{
    created() {
      var low = new Image();
      low.src = "../diabetes-survey/dist/Low.png";
      console.log(low.src);
    },
    mounted() {
      this.$emit('startLoad');
      this.$emit('stopLoad');
    }
  }
</script>
