<template>
  <div class="watson-peach height-100" v-cloak>
    <div class="results-padding">
      <img src="../assets/RESULTS/Moderate.png" class="results-fill"/> </img>
    </div>
  </div>
</template>
<script>
  export default{
    created() {
      var mod = new Image();
      mod.src = "../diabetes-survey/dist/Moderate.png";
      console.log(mod.src);
    },
    mounted() {
      this.$emit('startLoad');
      this.$emit('stopLoad');
    }
  }
</script>
