<template>
  <div class="prepareImages">
    <div v-bind:style="{ 'background-image': 'url(' + img1 + ')' }"> </div>
    <div v-bind:style="{ 'background-image': 'url(' + img2 + ')' }"> </div>
    <div v-bind:style="{ 'background-image': 'url(' + q3img1 + ')' }"> </div>
    <div v-bind:style="{ 'background-image': 'url(' + q3img2 + ')' }"> </div>
    <div v-bind:style="{ 'background-image': 'url(' + q3img3 + ')' }"> </div>
    <div v-bind:style="{ 'background-image': 'url(' + q3img4 + ')' }"> </div>
    <div v-bind:style="{ 'background-image': 'url(' + q3img5 + ')' }"> </div>
    <div v-bind:style="{ 'background-image': 'url(' + q3img6 + ')' }"> </div>
    <div v-bind:style="{ 'background-image': 'url(' + q3img7 + ')' }"> </div>
    <div v-bind:style="{ 'background-image': 'url(' + q3img8 + ')' }"> </div>
    <div v-bind:style="{ 'background-image': 'url(' + q3img9 + ')' }"> </div>
    <div v-bind:style="{ 'background-image': 'url(' + q3img10 + ')' }"> </div>
    <div v-bind:style="{ 'background-image': 'url(' + q3img11 + ')' }"> </div>
    <div v-bind:style="{ 'background-image': 'url(' + q3img12 + ')' }"> </div>
    <div v-bind:style="{ 'background-image': 'url(' + q4yes + ')' }"> </div>
    <div v-bind:style="{ 'background-image': 'url(' + q4no + ')' }"> </div>
    <div v-bind:style="{ 'background-image': 'url(' + q4yesRed + ')' }"> </div>
    <div v-bind:style="{ 'background-image': 'url(' + q4noBlue + ')' }"> </div>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        img1: '../src/assets/images/watson-red-btn.png',
        img2: '../src/assets/images/watson-blue-btn.png',
        q3img1: '../src/assets/Q3/q3-90cm-unclick.png',
        q3img2: '../src/assets/Q3/90-99cm.png',
        q3img3: '../src/assets/Q3/100cm.png',
        q3img4: '../src/assets/Q3/80cm.png',
        q3img5: '../src/assets/Q3/80-89cm.png',
        q3img6: '../src/assets/Q3/greater.png',
        q3img7: '../src/assets/Q3/q3-90cm.png',
        q3img8: '../src/assets/Q3/90-99cm-onclick.png',
        q3img9: '../src/assets/Q3/100cm-onclick.png',
        q3img10: '../src/assets/Q3/80cm-onclick.png',
        q3img11: '../src/assets/Q3/80-89cm-onclick.png',
        q3img12: '../src/assets/Q3/greater-onclick.png',
        q4yes: '../src/assets/Q4/YES-unclick.png',
        q4no: '../src/assets/Q4/NO.png',
        q4yesRed: '../src/assets/Q4/YES.png',
        q4noBlue: '../src/assets/Q4/NO-onclick.png',
      }
    }
  }
</script>
