<template>
  <div class="question-container watson-peach" v-cloak>
    <div class="pic-container q1-padding">
      <div class="question-pic fam-pic">
      </div>
    </div>
    <div class="width-50 q1-buttons-padding">
      <div class="height-20 margin-3">
        <div class="q1-question-text q1-margin-btm">
          <div class="watson-font-medium number-label q1-number-label">1.</div>
        </div>
        <div class="q1-question-text">
          <div class="watson-font-medium question-text q1-text-label">
            {{ btnData[4].label }}
          </div>
        </div>
      </div>
      <div class="height-75">
        <div
             class="watson-font-medium question-text sample-button-container "
             @mouseover="onHover('1')"
             @mouseout="onMouseOut('1')"
             @click="onAnswer(btnData[0].value, '1')"
             v-bind:class="{ redBtn: img1, blueBtn: !img1  }">
             {{ btnData[0].question }}
        </div>
        <div
             class="watson-font-medium question-text sample-button-container "
             @mouseover="onHover('2')"
             @mouseout="onMouseOut('2')"
             @click="onAnswer(btnData[1].value, '1')"
             v-bind:class="{ redBtn: img2, blueBtn: !img2  }">
             {{ btnData[1].question }}
        </div>
        <div
             class="watson-font-medium question-text sample-button-container "
             @mouseover="onHover('3')"
             @mouseout="onMouseOut('3')"
             @click="onAnswer(btnData[2].value, '1')"
             v-bind:class="{ redBtn: img3, blueBtn: !img3  }">
             {{ btnData[2].question }}
        </div>
        <div
             class="watson-font-medium question-text sample-button-container "
             @mouseover="onHover('4')"
             @mouseout="onMouseOut('4')"
             @click="onAnswer(btnData[3].value, '1')"
             v-bind:class="{ redBtn: img4, blueBtn: !img4  }">
             {{ btnData[3].question }}
        </div>
      </div>
    </div>
  </div>
</template>
<style>

  .q1-buttons-padding { padding: 5% 6% 8% 3%; }
  .q1-padding { padding: 6% 0 5% 8%; }
  .q1-label {
    height: 100%;
    width: 85%;
  }
  .btn-fill {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .q1-number-label { font-size: 4.2vw }
  .q1-text-label { font-size: 3.0vw }
  .q1-flex { display: flex; flex-direction: column;}
  .fam-pic { background-image: url('../assets/Q1/Image.png'); }
  .redBtn { background-image: url('../assets/images/watson-red-btn.png'); }
  .blueBtn { background-image: url('../assets/images/watson-blue-btn.png'); }

  .yesBtn { background-image: url('../assets/Q4/YES-unclick.png'); }
  .noBtn { background-image: url('../assets/Q4/NO.png'); }

  .yesBtnOnclick { background-image: url('../assets/Q4/YES.png'); }
  .noBtnOnclick { background-image: url('../assets/Q4/NO-onclick.png'); }


  .q1-question-text { height: 50% }
  .q1-margin-btm { margin-bottom: 5% }

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .q1-buttons-padding {
      padding: 6% 10% 8% 12%;
      height: 340px;
    }
    .q1-padding {
      padding: 10% 10% 5% 14%
    }
  }
</style>
<script>
  export default{
    data() {
      return {
        btnData: [],
        img1: true,
        img2: true,
        img3: true,
        img4: true,
        titleImg: "../diabetes-survey/dist/Image.png"
      };
    },
    methods: {
      onAnswer(isCorrect, number) {
        setTimeout(() => {
          this.$emit('answered', isCorrect);
          this.$emit('nextQuestion', "question2");
        }, 130);
      },
      onHover(number){
        if (number === "1") { this.img1 = !this.img1 }
        else if (number === "2") { this.img2 = !this.img2 }
        else if (number === "3") { this.img3 = !this.img3 }
        else if (number === "4") { this.img4 = !this.img4 }
      },
      onMouseOut(number){
        if (number === "1") { this.img1 = !this.img1 }
        else if (number === "2") { this.img2 = !this.img2 }
        else if (number === "3") { this.img3 = !this.img3 }
        else if (number === "4") { this.img4 = !this.img4 }
      }
    },
    created(){
      var q1Img = new Image();
      q1Img.src = this.titleImg;
    },
    mounted() {
      this.$emit('startLoad');
      this.$http.get('questions-1.json')
                .then(response => {
                    return response.json();
                })
                .then(data => {
                    this.btnData = data
                });
                this.$emit('stopLoad');
    },
  }
</script>
