<template>
  <div class="question-container watson-lighter-blue" v-cloak>
    <div class="pic-container q7-padding">
      <div class="question-pic q7-pic">
      </div>
    </div>
    <div class="q7-label-padding width-50">
      <div>
        <div class="watson-font-medium number-label height-6vw">7.</div>
        <div class="watson-font-medium question7-text">
          {{ btnData[2].label }}
        </div>
        <div class="watson-font-bold question-sub-text">
          {{ btnData[2].subtext }}
        </div>
      </div>
      <div class="yes-no-buttons">
        <!--
          <button class="question-btn watson-blue margin-right-16px"
            @click="onAnswer(btnData[0].value)">{{ btnData[0].question }}
          </button>
          <button class="question-btn watson-red"
            @click="onAnswer(btnData[1].value)">{{ btnData[1].question }}
          </button>
        !-->
        <div class="auto-fill margin-right-2vw"  @mouseover="onHover('1')" @mouseout="onMouseOut('1')">
          <div class="btn-fill"  v-bind:class="{ yesBtn: q7yes, yesBtnOnclick: !q7yes  }" @click="onAnswer(btnData[0].value, '1')">
          </div>
        </div>
        <div class="auto-fill margin-right-2vw"  @mouseover="onHover('2')" @mouseout="onMouseOut('2')">
          <div class="btn-fill" v-bind:class="{ noBtn: q7no, noBtnOnclick: !q7no  }" @click="onAnswer(btnData[1].value, '2')">
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</template>
<style>
  .q7-padding { padding: 3% 4% 7% 14%; }
  .q7-pic { background-image: url('../assets/Q7/q7Image.png'); }
  .q7-label-padding { padding: 9% 5% 7% 1%; }

  .q7-quesiton-label {
    padding-top: 72px;
    width: 80%;
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .q7-padding { padding: 8% 28% 7% 28% }
  }
</style>
<script>
  export default{
    data() {
      return {
        btnData: [],
        q7yes: true,
        q7no: true,
        q7titleImg: "../diabetes-survey/dist/q7Image.png",

      };
    },
    methods: {
      onAnswer(isCorrect, number) {
        setTimeout(() => {
          this.$emit('answered', isCorrect);
          this.$emit('nextQuestion', "result");
        }, 130);
      },
      onHover(number){
        if (number === "1") { this.q7yes = !this.q7yes }
        else if (number === "2") { this.q7no = !this.q7no }
      },
      onMouseOut(number){
        if (number === "1") { this.q7yes = !this.q7yes }
        else if (number === "2") { this.q7no = !this.q7no }
      }
    },
    created() {
      var q7Img = new Image();
      q7Img.src = this.q7titleImg;
      console.log(q7Img.src);
    },
    mounted() {
      this.$emit('startLoad');
      this.$http.get('questions-7.json')
                .then(response => {
                    return response.json();
                })
                .then(data => {
                    this.btnData = data
                });
      this.$emit('stopLoad');
    }
  }
</script>
