<template>
  <div class="question-container watson-dark-pink" v-cloak>
    <div class="pic-container q5-padding width-50">
      <div class="question-pic q5-pic">
      </div>
    </div>
    <div class="q5-label-padding width-50">
      <div>
        <div class="watson-font-medium number-label height-6vw">5.</div>
        <div class="watson-font-medium question5-text">
          {{ btnData[2].label }}
        </div>
      </div>
      <div class="yes-no-buttons width-80">
        <div class="auto-fill margin-right-2vw" @mouseover="onHover('1')" @mouseout="onMouseOut('1')">
          <div class="btn-fill"
               v-bind:class="{ yesBtn: q5yes, yesBtnOnclick: !q5yes  }"
               @click="onAnswer(btnData[0].value, '1')">
          </div>
        </div>
        <div class="auto-fill margin-right-2vw" @mouseover="onHover('2')" @mouseout="onMouseOut('2')">
          <div class="btn-fill"
               v-bind:class="{ noBtn: q5no, noBtnOnclick: !q5no  }"

               @click="onAnswer(btnData[1].value, '2')">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
  .q5-padding { padding: 7% 4% 7% 16%; }
  .q5-pic { background-image: url('../assets/Q5/Q5.png'); }
  .q5-label-padding { padding: 11% 9% 8% 0% }

  .q5-quesiton-label {
    padding-top: 56px;
    width: 75%;
    padding-left: 10px;
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .q5-label-padding { padding: 11% 11% 8% 11%; }
    .q5-padding { padding: 9% 22% 9% 22% }
  }
</style>
<script>
  export default{
    data() {
      return {
        btnData: [],
        q5yes: true,
        q5no: true,
        q5titleImg: "../diabetes-survey/dist/Q5.png",

      };
    },
    methods: {
      onAnswer(isCorrect, number) {
        setTimeout(() => {
          this.$emit('answered', isCorrect);
          this.$emit('nextQuestion', "question6");
        }, 130);
      },
      onHover(number){
        if (number === "1") { this.q5yes = !this.q5yes }
        else if (number === "2") { this.q5no = !this.q5no }
      },
      onMouseOut(number){
        if (number === "1") { this.q5yes = !this.q5yes }
        else if (number === "2") { this.q5no = !this.q5no }
      }
    },
    created() {
      var q5Img = new Image();
      q5Img.src = this.q5titleImg;
      console.log(q5Img.src);
    },
    mounted() {
      this.$emit('startLoad');
      this.$http.get('questions-5.json')
                .then(response => {
                    return response.json();
                })
                .then(data => {
                    this.btnData = data
                });
                this.$emit('stopLoad');
    }
  }
</script>
