<template>
  <div class="question-3-container watson-pink" v-cloak>
    <div class="q3-header-container">
      <div class="watson-font-medium question3-text centered">
        {{ btnData[6].label }}
      </div >
      <div class="watson-font-bold question3-sub-text centered">
        {{ btnData[6].subtext }}
      </div>
    </div>
    <div class="measure-buttons-container">
      <div class="pic-buttons-container">
        <div class="human-container">
          <img src="../assets/Q3/Male.png" class="auto-fill"/></img>
        </div>
        <div class="q3-width padding-top-8x">
          <div class="q3-button-container" @mouseover="onHover('1')" @mouseout="onMouseOut('1')">
            <div class="btn-fill" v-bind:class="{ q3Btn1: q3img1, q3Btn1Hover: !q3img1  }" @click="onAnswer(btnData[0].value, '1')">
            </div>
          </div>
          <div class="q3-button-container" @mouseover="onHover('2')" @mouseout="onMouseOut('2')">
            <div class="btn-fill" v-bind:class="{ q3Btn2: q3img2, q3Btn2Hover: !q3img2  }" @click="onAnswer(btnData[1].value, '2')">
            </div>
          </div>
          <div class="q3-button-container" @mouseover="onHover('3')" @mouseout="onMouseOut('3')">
            <div class="btn-fill" v-bind:class="{ q3Btn3: q3img3, q3Btn3Hover: !q3img3  }" @click="onAnswer(btnData[2].value, '3')">
            </div>
          </div>
        </div>
      </div>
      <div class="pic-buttons-container">
        <div class="human-container padding-top-8px">
          <img src="../assets/Q3/Female.png" class="auto-fill"/></img>
        </div>
        <div class="q3-width padding-top-8x">
          <div class="q3-button-container" @mouseover="onHover('4')" @mouseout="onMouseOut('4')">
            <div class="btn-fill" v-bind:class="{ q3Btn4: q3img4, q3Btn4Hover: !q3img4  }" @click="onAnswer(btnData[3].value, '4')">
            </div>
          </div>
          <div class="q3-button-container" @mouseover="onHover('5')" @mouseout="onMouseOut('5')">
            <div class="btn-fill" v-bind:class="{ q3Btn5: q3img5, q3Btn5Hover: !q3img5  }" @click="onAnswer(btnData[4].value, '5')">
            </div>
          </div>
          <div class="q3-button-container" @mouseover="onHover('6')" @mouseout="onMouseOut('6')">
            <div class="btn-fill"  v-bind:class="{ q3Btn6: q3img6, q3Btn6Hover: !q3img6  }" @click="onAnswer(btnData[5].value, '6')">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
  .column-direction { flex-direction: column;}
  .human-container { width: 28%; }
  .q3-width {
    width: 70%;
    padding-left: 4%;
  }
  .q3-header-container {
    width: 100%;
    padding: 4% 20% 1% 20%;
    height: 27%;
  }

  .q3-button-container {
    height: 28%;
    margin-bottom: 2%;
    width: 90%;
    cursor: pointer;
  }
  .measure-buttons-container {
    display: flex;
    flex-direction: row;
    height: 58%;
  }

  .measure-buttons {
    width: 125%;
    height: 90%;
    margin-left: 7%;
    font-size: 2.5vw;
  }

  .pic-buttons-container {
    width: 50%;
    display: flex;
    flex-direction: row;
    padding-left: 3%;
  }
  .q3Btn1 { background-image: url('../assets/Q3/q3-90cm-unclick.png'); }
  .q3Btn2 { background-image: url('../assets/Q3/90-99cm.png'); }
  .q3Btn3 { background-image: url('../assets/Q3/100cm.png'); }
  .q3Btn4 { background-image: url('../assets/Q3/80cm.png'); }
  .q3Btn5 { background-image: url('../assets/Q3/80-89cm.png'); }
  .q3Btn6 { background-image: url('../assets/Q3/greater.png'); }

  .q3Btn1Hover { background-image: url('../assets/Q3/q3-90cm.png'); }
  .q3Btn2Hover { background-image: url('../assets/Q3/90-99cm-onclick.png'); }
  .q3Btn3Hover { background-image: url('../assets/Q3/100cm-onclick.png'); }
  .q3Btn4Hover { background-image: url('../assets/Q3/80cm-onclick.png'); }
  .q3Btn5Hover { background-image: url('../assets/Q3/80-89cm-onclick.png'); }
  .q3Btn6Hover { background-image: url('../assets/Q3/female-90cm-onclick.png'); }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .q3-header-container {
      height: 25%;
      width: 100%;
      padding: 15% 15% 10% 15%;
    }
    .measure-buttons-container {
      padding: 1% 10% 1% 10%;
      flex-direction: column;
    }
    .pic-buttons-container { width: 100% }
    .human-container { width: 40% }
    .q3-button-container {
      height: 25%;
      width: 90%;
      margin-bottom: 3%;
    }
    .measure-buttons { font-size: 3vw; }

  }
  </style>
<script>
  export default{
    data() {
      return {
        btnData: [],
        q3img1: true,
        q3img2: true,
        q3img3: true,
        q3img4: true,
        q3img5: true,
        q3img6: true,
        q3titleImg1: "../diabetes-survey/dist/Male.png",
        q3titleImg2: "../diabetes-survey/dist/Female.png",
      };
    },
    methods: {
      onAnswer(isCorrect, number) {
        setTimeout(() => {
          this.$emit('answered', isCorrect);
          this.$emit('nextQuestion', "question4");
        }, 130);
      },
      onHover(number){
        if (number === "1") { this.q3img1 = !this.q3img1 }
        else if (number === "2") { this.q3img2 = !this.q3img2 }
        else if (number === "3") { this.q3img3 = !this.q3img3 }
        else if (number === "4") { this.q3img4 = !this.q3img4 }
        else if (number === "5") { this.q3img5 = !this.q3img5 }
        else if (number === "6") { this.q3img6 = !this.q3img6 }
      },
      onMouseOut(number){
        if (number === "1") { this.q3img1 = !this.q3img1 }
        else if (number === "2") { this.q3img2 = !this.q3img2 }
        else if (number === "3") { this.q3img3 = !this.q3img3 }
        else if (number === "4") { this.q3img4 = !this.q3img4 }
        else if (number === "5") { this.q3img5 = !this.q3img5 }
        else if (number === "6") { this.q3img6 = !this.q3img6 }
      }
    },
    created() {
      var q3Img = new Image();
      q3Img.src = this.q3titleImg1;
      console.log(q3Img.src);

      var q3Img2 = new Image();
      q3Img2.src = this.q3titleImg2;
      console.log(q3Img2.src);
    },
    mounted() {
      this.$emit('startLoad');
      this.$http.get('questions-3.json')
                .then(response => {
                    return response.json();
                })
                .then(data => {
                    this.btnData = data
                    this.$emit('stopLoad');
                });
    }
  }
</script>
