<template>
  <div class="question-container watson-light-blue" v-cloak>
    <div class="pic-container q6-padding">
      <div class="question-pic q6-pic">
      </div>
    </div>
    <div class="q6-label-padding width-50">
      <div>
        <div class="watson-font-medium number-label height-6vw">6.</div>
        <div class="watson-font-medium question6-text">
          {{ btnData[2].label }}
        </div>
        <div class="watson-font-bold question-sub-text">
          {{ btnData[2].subtext }}
        </div>
      </div>
      <div class="yes-no-buttons">
        <div class="auto-fill margin-right-2vw"  @mouseover="onHover('1')" @mouseout="onMouseOut('1')">
          <div class="btn-fill"
               v-bind:class="{ yesBtn: q6yes, yesBtnOnclick: !q6yes  }"
               @click="onAnswer(btnData[0].value, '1')">
          </div>
        </div>
        <div class="auto-fill margin-right-2vw"  @mouseover="onHover('2')" @mouseout="onMouseOut('2')">
          <div class="btn-fill"
               v-bind:class="{ noBtn: q6no, noBtnOnclick: !q6no  }"
               @click="onAnswer(btnData[1].value, '2')">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
  .q6-padding { padding: 8% 0% 10% 4%;}
  .q6-pic { background-image: url('../assets/Q6/q6Image.png'); }
  .q6-label-padding { padding: 13% 4% 4% 2%; }
  .q6-quesiton-label {
    padding-top: 56px;
    width: 85%;
  }

</style>
<script>
  export default{
    data() {
      return {
        btnData: [],
        q6yes: true,
        q6no: true,
        q6titleImg: "../diabetes-survey/dist/q6Image.png",

      };
    },
    methods: {
      onAnswer(isCorrect, number) {
        setTimeout(() => {
          this.$emit('answered', isCorrect);
          this.$emit('nextQuestion', "question7");
        }, 130);
      },
      onHover(number){
        if (number === "1") { this.q6yes = !this.q6yes }
        else if (number === "2") { this.q6no = !this.q6no }
      },
      onMouseOut(number){
        if (number === "1") { this.q6yes = !this.q6yes }
        else if (number === "2") { this.q6no = !this.q6no }
      }
    },
    created() {
      var q6Img = new Image();
      q6Img.src = this.q6titleImg;
      console.log(q6Img.src);
    },
    mounted() {
      this.$emit('startLoad');
      this.$http.get('questions-6.json')
                .then(response => {
                  return response.json();
                })
                .then(data => {
                  this.btnData = data
                });
      this.$emit('stopLoad');
    }
  }
</script>
