<template>
  <div class="question-container watson-light-blue" v-cloak>
    <div class="pic-container q4-padding">
      <div class="question-pic q4-pic">
      </div>
    </div>
    <div class="width-50 q4-label-padding">
      <div class="padding-top-8">
        <div class="watson-font-medium number-label height-6vw">4.</div>
        <div class="watson-font-medium question-text">
          {{ btnData[2].label }}
        </div>
        <div class="watson-font-bold question-sub-text">
          {{ btnData[2].subtext }}
        </div>
      </div>
      <div class="yes-no-buttons">
        <div class="auto-fill margin-right-2vw" @mouseover="onHover('1')" @mouseout="onMouseOut('1')">
          <div class="btn-fill"
               v-bind:class="{ yesBtn: q4yes, yesBtnOnclick: !q4yes  }"
               @click="onAnswer(btnData[0].value, '1')">
          </div>
        </div>
        <div class="auto-fill margin-right-2vw" @mouseover="onHover('2')" @mouseout="onMouseOut('2')">
          <div class="btn-fill"
               v-bind:class="{ noBtn: q4no, noBtnOnclick: !q4no  }"
               @click="onAnswer(btnData[0].value, '2')">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
  .q4-padding { padding: 8% 2% 7% 7%; }
  .q4-label-padding { padding: 8% 3% 8% 2% }
  .q4-pic { background-image: url('../assets/Q4/VectorObject.png'); }
  .q4-quesiton-label {
    padding-top: 56px;
    width: 90%;
    padding-left: 12px;
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .q4-padding { padding: 9% 13% 7% 13%; }
  }

</style>
<script>
  export default{
    data() {
      return {
          btnData: [],
          q4yes: true,
          q4no: true,
          q4titleImg: "../diabetes-survey/dist/VectorObject.png",

      };
    },
    methods: {
      onAnswer(isCorrect, number) {
        setTimeout(() => {
          this.$emit('answered', isCorrect);
          this.$emit('nextQuestion', "question5");
        }, 130);
      },
      onHover(number){
        if (number === "1") { this.q4yes = !this.q4yes }
        else if (number === "2") { this.q4no = !this.q4no }
      },
      onMouseOut(number){
        if (number === "1") { this.q4yes = !this.q4yes }
        else if (number === "2") { this.q4no = !this.q4no }
      }
    },
    created() {
      var q4Img = new Image();
      q4Img.src = this.q4titleImg;
      console.log(q4Img.src);
    },
    mounted() {
      this.$emit('startLoad');
      this.$http.get('questions-4.json')
                .then(response => {
                    return response.json();
                })
                .then(data => {
                    this.btnData = data
                });
      this.$emit('stopLoad');
    }
  }
</script>
