q2img2<template>
  <div class="question-container watson-light-blue" v-cloak>
    <div class="pic-container q2-padding">
      <div class="question-pic q2-pic">
      </div>
    </div>
    <div class="width-50 q2-buttons-padding">
      <div class="height-50 margin-3-btm">
        <div class="q1-label q2-label-pic"> </div>
      </div>
      <div class="height-50">
        <div
             class="sample-button-container watson-font-medium question-text q2-btn-height"
             @mouseover="onHover('1')"
             @mouseout="onMouseOut('1')"
             @click="onAnswer(btnData[0].value, '1')"
             v-bind:class="{ redBtn: q2img1, blueBtn: !q2img1  }">
             {{ btnData[0].question }}
        </div>
        <div
             class="sample-button-container watson-font-medium question-text q2-btn-height"
             @mouseover="onHover('2')"
             @mouseout="onMouseOut('2')"
             @click="onAnswer(btnData[1].value, '1')"
             v-bind:class="{ redBtn: q2img2, blueBtn: !q2img2  }">
             {{ btnData[1].question }}
        </div>
        <div
             class="sample-button-container watson-font-medium question-text q2-btn-height"
             @mouseover="onHover('3')"
             @mouseout="onMouseOut('3')"
             @click="onAnswer(btnData[2].value, '1')"
             v-bind:class="{ redBtn: q2img3, blueBtn: !q2img3  }">

             {{ btnData[2].question }}
        </div>
      </div>
    </div>
  </div>
</template>
<style>
  .q2-padding { padding: 14% 6% 6%; }
  .q2-buttons-padding { padding: 3% 3% 1% 3%; }
  .q2-pic { background-image: url('../assets/Q2/VectorOBJ.png'); }
  .q2-label-pic {
    background-image: url('../assets/Q2/BMI.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

</style>
<script>
  export default{
    data() {
      return {
        btnData: [],
        q2img1: true,
        q2img2: true,
        q2img3: true,
        q2titleImg: "../diabetes-survey/dist/VectorOBJ.png",
        q2titleImg2: "../diabetes-survey/dist/BMI.png",
      };
    },
    methods: {
      onAnswer(isCorrect, number) {
        setTimeout(() => {
          this.$emit('answered', isCorrect);
          this.$emit('nextQuestion', "question3");
        }, 130);
      },
      onHover(number){
        if (number === "1") { this.q2img1 = !this.q2img1 }
        else if (number === "2") { this.q2img2 = !this.q2img2 }
        else if (number === "3") { this.q3img3 = !this.q3img3 }
      },
      onMouseOut(number){
        if (number === "1") { this.q2img1 = !this.q2img1 }
        else if (number === "2") { this.q2img2 = !this.q2img2 }
        else if (number === "3") { this.q2img3 = !this.q2img3 }
      }
    },
    created() {
      var q2Img = new Image();
      q2Img.src = this.q2titleImg;
      console.log(q2Img.src);

      var q2Img2 = new Image();
      q2Img2.src = this.q2titleImg2;
      console.log(q2Img2.src);
    },
    mounted() {
      this.$emit('startLoad');
      this.$http.get('questions-2.json')
                .then(response => {
                    return response.json();
                })
                .then(data => {
                    this.btnData = data
                    this.$emit('stopLoad');
                });
    }
  }
</script>
