<template>
  <div class="results-container" v-cloak>
    <div class="total-container">
      <div class="see-result"></div>
      <div class="see-over-container">
        <div class="see-button" @click="done"></div>
      </div>
    </div>
  </div>
</template>
<style>
  .results-container {
    height: 100%;
    background-color: #3ca2b1;
    padding-bottom: 8px;
    display: flex;
  }
  .total-container {
    padding-top: 12%;
    width: 100%;

  }
  .see-result {
    background-image: url('../assets/RESULTS/TOTAL.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 50%;
  }
  .see-over-container {
    padding-left: 35%;
    padding-right: 35%;
    height: 50%;
  }
  .see-button {
    background-image: url('../assets/RESULTS/SEE_OVER.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 50%;
    cursor: pointer;
  }

  @media (max-width: 767px) {
    .total-container { padding-top: 60%; }
    .see-result { height: 20% }
    .see-over-container {
      padding-left: 25%;
      padding-right: 25%;
    }
  }
</style>
<script>
    export default{
      data() {
        return {
          resultImg: "../diabetes-survey/dist/TOTAL.png",
          resultButton: "../diabetes-survey/dist/SEE_OVER.png",
        };
      },
      methods: {
          done() {
              this.$emit('surveyComplete');
          }
      },
      created() {
        var result = new Image();
        result.src = this.resultImg;
        console.log(result.src);

        var resultBtn = new Image();
        resultBtn.src = this.resultButton;
        console.log(resultBtn.src);
      },
      mounted() {
        this.$emit('startLoad');
        this.$emit('stopLoad');
      }
    }
</script>
