<template>
  <div class="watson-slight-risk height-100" v-cloak>
    <div class="results-padding">
      <img src="../assets/RESULTS/Slight.png" class="results-fill"/> </img>
    </div>
  </div>
</template>
<script>
  export default{
    created() {
      var slight = new Image();
      slight.src = "../diabetes-survey/dist/Slight.png";
      console.log(slight.src);
    },
    mounted() {
      this.$emit('startLoad');
      this.$emit('stopLoad');
    }
  }
</script>
