<template>
  <div class="watson-very-high-risk height-100" v-cloak>
    <div class="results-padding">
      <img src="../assets/RESULTS/VeryHigh.png" class="results-fill"/> </img>
    </div>
  </div>
</template>
<script>
  export default{
    created() {
      this.$emit('startLoad');
      this.$emit('stopLoad');
    }
  }
</script>
