<template>
  <div class="app-container" v-cloak>
    <div v-if="this.spinner.status"  class="spinner-overlay">
      <div v-if="this.spinner.status" class="spinner-container">
        <spinner :status="spinner.status"
          :color="spinner.color"
          :size="spinner.size"
          :depth="spinner.depth"
          :rotation="spinner.rotation"
          :speed="spinner.speed">
        </spinner>
      </div>
    </div>

    <transition name="fade" mode="out-in">
      <keep-alive>
        <div class="prepareImages">
        </div>
        <component :is="mode"
          @surveyComplete= "seeScore"
          @answered="answered($event)"
          @confirmed="mode = 'app-question'"
          @nextQuestion="nextQuestion($event)"
          @startLoad="startLoad" @stopLoad="stopLoad">
        </component>
      </keep-alive>
    </transition>
  </div>
</template>

<script>
  import Question from './components/Question.vue';
  import PrepareImages from './components/PrepareImage.vue';
  import Home from './components/Home.vue';
  import Question2 from './components/Question2.vue';
  import Question3 from './components/Question3.vue';
  import Question4 from './components/Question4.vue';
  import Question5 from './components/Question5.vue';
  import Question6 from './components/Question6.vue';
  import Question7 from './components/Question7.vue';
  import Result from './components/Result.vue';
  import Low from './components/Low.vue';
  import Slight from './components/Slight.vue';
  import Moderate from './components/Moderate.vue';
  import High from './components/High.vue';
  import VeryHigh from './components/VeryHigh.vue';
  import Spinner from 'vue-spinner-component/src/Spinner.vue'

  export default {
    data() {
      return {
        mode: 'app-home',
        points: 0,
        spinner: {
          size: 140,
          status: false,
          color: '#38a0bb',
          depth: 30,
          rotation: true,
          speed: 0.4,
        },
        img1: '../diabetes-survey/dist/watson-red-btn.png',
        img2: '../diabetes-survey/dist/watson-blue-btn.png',
        q3img1: '../diabetes-survey/dist/q3-90cm-unclick.png',
        q3img2: '../diabetes-survey/dist/90-99cm.png',
        q3img3: '../diabetes-survey/dist/100cm.png',
        q3img4: '../diabetes-survey/dist/80cm.png',
        q3img5: '../diabetes-survey/dist/80-89cm.png',
        q3img6: '../diabetes-survey/dist/greater.png',
        q3img7: '../diabetes-survey/dist/q3-90cm.png',
        q3img8: '../diabetes-survey/dist/90-99cm-onclick.png',
        q3img9: '../diabetes-survey/dist/100cm-onclick.png',
        q3img10: '../diabetes-survey/dist/80cm-onclick.png',
        q3img11: '../diabetes-survey/dist/80-89cm-onclick.png',
        q3img12: '../diabetes-survey/dist/greater-onclick.png',
        q4yes: '../diabetes-survey/dist/YES-unclick.png',
        q4no: '../diabetes-survey/dist//NO.png',
        q4yesRed: '../diabetes-survey/dist/YES.png',
        q4noBlue: '../diabetes-survey/dist/NO-onclick.png',
      }
    },
    methods: {
      answered(isCorrect) {
        this.points += isCorrect;
      },
      startLoad() {
        this.spinner.status = true;
      },
      stopLoad() {
        setTimeout(() => { this.spinner.status = false; }, 900);
      },
      nextQuestion(selectedComponent) {
        this.mode = selectedComponent;
      },
      seeScore(){
        if (this.points <= 7) { this.mode = "low" }
        else if (this.points >= 7 && this.points <= 10) { this.mode = "slight" }
        else if (this.points >= 11 && this.points <= 13) { this.mode = "moderate" }
        else if (this.points >= 14 && this.points <= 18) { this.mode = "high" }
        else if (this.points >= 19 && this.points <= 23) { this.mode = "veryHigh" }
      }
    },
    created() {
      var image1 = new Image();
      image1.src = this.img1;

      var image2 = new Image();
      image2.src = this.img2;

      var image3 = new Image();
      image3.src = this.q3img1;

      var image4 = new Image();
      image4.src = this.q3img2;

      var image5 = new Image();
      image5.src = this.q3img3;

      var image6 = new Image();
      image6.src = this.q3img4;

      var image7 = new Image();
      image7.src = this.q3img5;

      var image8 = new Image();
      image8.src = this.q3img6;

      var image9 = new Image();
      image9.src = this.q3img7;

      var image10 = new Image();
      image10.src = this.q3img8;

      var image11 = new Image();
      image11.src = this.q3img9;

      var image12 = new Image();
      image12.src = this.q3img10;

      var image13 = new Image();
      image13.src = this.q3img11;

      var image14 = new Image();
      image14.src = this.q3img12;

      var image15 = new Image();
      image15.src = this.q4yes;

      var image16 = new Image();
      image16.src = this.q4no;

      var image17 = new Image();
      image17.src = this.q4noBlue;

      var image18 = new Image();
      image18.src = this.q4yesRed;
    },
    components: {
      appQuestion: Question,
      appHome: Home,
      question2: Question2,
      question3: Question3,
      question4: Question4,
      question5: Question5,
      question6: Question6,
      question7: Question7,
      result: Result,
      low: Low,
      slight: Slight,
      moderate: Moderate,
      high: High,
      veryHigh: VeryHigh,
      Spinner: Spinner,
      PrepareImages: PrepareImages
    },

  }
</script>

<style>
  @import './assets/stylesheets/watson.css';
  [v-cloak] {
    display: none;
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 1.1s;
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }

  .spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }

  .spinner-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
</style>
