

.watson-blue { background-color: #38a0bb; }
.watson-red { background-color: #ea5a52; }
.watson-pink { background-color: #fbdad1; }
.watson-dark-pink { background-color: #f9c5d9;}
.watson-lighter-blue { background-color: #cfe8e4;}
.watson-peach { background-color: #fee1b2; }
.watson-light-blue { background-color: #cdeafc; }
.watson-low-risk { background-color: #eaeba9; }
.watson-high-risk { background-color: #fccb74; }
.watson-very-high-risk { background-color: #f49286; }


.watson-font-medium {
  font-family: Gotham-Medium;
  color: #478999;
  font-weight: bold;
}

.watson-font-bold {
  font-family: Gotham Rounded;
  color: #478999;
}
.question-text { font-size: 3.6vw; }
.question3-text { font-size: 2.9vw; }
.question5-text { font-size: 3.4vw; }
.question6-text { font-size: 2.8vw; }
.question7-text { font-size: 2.8vw; }

.question-sub-text {
  margin-top: 2%;
  font-size: 1.2vw;
}

.question3-sub-text {
  margin-top: 1%;
  font-size: 1.6vw;
}

.number-label {
  font-size: 5.2vw;
  font-weight: normal;
}

.sample-button-container {
  height: 25%;
  cursor: pointer;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 2.9vw;
  font-weight: normal;
  padding-top: 1vw;
  color: white;
  text-align: center
}

.q2-btn-height {
  height: 30%;
  margin-bottom: 1%;
}
.margin-3-btm { margin-bottom: 2%; }
.q6-label-padding { padding: 12% 4% 4% 2%; }
.margin-right-2vw { margin-right: 2vw; }
.centered { text-align: center }
.result-container { height: 100%; }
.question-buttons { height: 70%; }
.yes-no-btn { height: 75% }
.pic-container { width: 45%; }
.width-50 { width: 50% }

.results-container {
  height: 100%;
  background-color: #3ca2b1;
  padding-bottom: 8px;
  display: flex;
}

.question-btn {
  color: #fff;
  border-color: #f5f5f5;
  width: 100%;
  border-radius: 15px;
  border: .4vw solid white;
  font-size: 3.3vw;
  margin-bottom: 12px;
  height: 100%;
}

.question-container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.question-3-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.column-direction { flex-direction: column;}

.question-pic {
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.question-buttons-container {
  padding: 8% 3% 5% 3%;
  width: 50%;
}

.yes-no-buttons {
  padding-top: 3%;
  width: 75%;
  display: flex;
  height: 33%;
}
.app-container { height: 100%; }

.height-40 { height: 40%; }
.height-30 { height: 30%; }
.height-22 { height: 22%; }
.height-25 { height: 25%; }
.height-20 { height: 20%; }

.height-50 { height: 50% }
.height-70 { height: 70% }
.height-75 { height: 75% }

.height-80 { height: 80% }
.height-90 { height: 90% }
.height-100 { height: 100% }
.height-6vw { height: 6vw }
.width-90 { width: 90% }
.width-80 { width: 80% }

.width-50 { width: 50% }
.padding-top-8 { padding-top: 0% }
.padding-top-12 { padding-top: 12% }
.padding-top-8x { padding-top: 8% }

.margin-3 { margin-bottom: 8% }
.auto-fill {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.results-fill {
  height: 100%;
  width: 80%;
}
.results-padding {
  padding: 3% 0% 2% 12%;
  height: -webkit-fill-available;
}

.button-container {
  height: 25%;
  cursor: pointer;
  width: 100%;
}
